<!-- User Navigation bar -->
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <app-navigation-user></app-navigation-user>
      </div>
    </div>
  </div>
<div class="row-fluid justify-content-center">
    <h3 class="card-header success-color white-text">If you would like to retake the question please follow the questions bellow</h3>
</div>


  <!-- call out for question filler -->
<app-questions></app-questions>

<div class="row justify-content-center">

    <p style="color:#FF8800;">
      *note that if you take the questions your known data and layout will change.
    </p>

</div>