// center table content
.table td  {
    text-align: center;  
    font-size: 15px; 
 }
 // center table header
.table th  {
    text-align: center; 
    font-size: 15px;   
 }
//prgress bar
.progress{
    height: 16px;
    font-size: 15px;
}

