<!-- Preview top -->
<div class="container-fluid blue lighten-5 ">
  <div class="row justify-content-center">
      <div class="container card card-body">
        <div class="col-lg-12">
            <table class="table">
                <thead class="grey lighten-2">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Budget</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- loop for platforms -->
                    <tr *ngFor="let platform of platforms; let i = index">
                        <!-- platform numbering -->
                        <th scope="row">{{i+1}}</th>
                        <!-- platform name -->
                        <td>{{platform.platform_name}}</td>
                        <!-- platform progress bar loop -->
                            <td id="progressCol">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" [style.width]="widthBar[i]" [style.background-color]="colorArray[i]" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                {{widthBar[i]}}
                            </td>
                        <td>{{platform.platform_budget}}</td>
                    </tr> 
                    <tr>
                        <!-- budget total row -->
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td class="success-color border border-primary">Total of: ${{budgetTotal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>