<!-- Password Recovery  -->

<div class="container blue lighten-5 ">
  <h1 class="text-center">User Recovery Solution ! </h1>
  <h3 class="text-center">Enter your email to continue </h3>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <form action="#">
          <label for="emailrec">Your email:</label>
          <input type="text" class="form-control" id="emailrec" placeholder="Enter email" name="emailrec" >
          <br>
          <button (click)="recover()" class="btn btn-outline-primary btn-lg">Recover me</button>
          <button (click)="cancel()" class="btn btn-outline-danger btn-lg">Cancel</button>
      </form>
    </div>
  </div>
</div>