// Settings for the HR
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    height: 1px;
  }
// every h position
h2{
  padding-top: 1em;
}
//card design
.card .card-text{
  font-size: 15px;
}
