<div class="panel panel-primary">
    <div class="panel-heading">
      {{ test }}
    </div>
    <div class="panel-body">
        <form [formGroup]="angForm" novalidate>

            <div class="form-group">
                <label class="col-md-4">inputfirstname</label>
                <input type="text" class="form-control" formControlName="inputfirstname" #inputfirstname />
            </div>
            <div *ngIf="angForm.controls['inputfirstname'].invalid && (angForm.controls['inputfirstname'].dirty || angForm.controls['inputfirstname'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['name'].errors.required">
                    Name is required.
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4">lastname</label>
                <input type="text" class="form-control" formControlName="inputlastname" #inputlastname/>
            </div>
            <div *ngIf="angForm.controls['inputlastname'].invalid && (angForm.controls['inputlastname'].dirty || angForm.controls['inputlastname'].touched)" class="alert alert-danger">
                 <div *ngIf="angForm.controls['inputlastname'].errors.required">
                     LastName is required.
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4">inputEmail</label>
                <input type="text" class="form-control" formControlName="inputEmail" #inputEmail/>
            </div>
            <div *ngIf="angForm.controls['inputEmail'].invalid && (angForm.controls['inputEmail'].dirty || angForm.controls['inputEmail'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['inputEmail'].errors.required">
                    inputEmail is required.
                </div>
            </div>

        <div class="form-group">
            <label class="col-md-4">inputPassword</label>
            <input type="text" class="form-control" formControlName="inputPassword" #inputPassword/>
        </div>
        <div *ngIf="angForm.controls['inputPassword'].invalid && (angForm.controls['inputPassword'].dirty || angForm.controls['inputPassword'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['inputPassword'].errors.required">
                inputPassword is required.
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">confirmPassword</label>
            <input type="text" class="form-control" formControlName="confirmPassword" #confirmPassword/>
        </div>
        <div *ngIf="angForm.controls['confirmPassword'].invalid && (angForm.controls['confirmPassword'].dirty || angForm.controls['confirmPassword'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['confirmPassword'].errors.required">
                confirmPassword is required.
            </div>
        </div>
          <div class="form-group">
            <button (click)="addUser(inputfirstname.value, inputlastname.value,inputEmail.value,inputPassword.value,confirmPassword.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
          </div>
      </form>
    </div>
  </div>