<!-- registration form  -->

<div class="container ">
    <div class="card">
        <!--Header-->
        <h3 class="card-header primary-color white-text">First steps to become a user</h3>
        <!-- Body -->
        <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-md-6 ">
                <!-- Material form Register -->
                <form [formGroup]="registrationFormGroup" novalidate (ngSubmit)="RegisterUser()" >
                  <!-- Material input  -->
                <div class="col-md-12">
                    
                    <!-- Input User Name -->
                    <div class="md-form form-lg">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input mdbInputDirective 
                        type="text"

                        formControlName="inputfirstname"
                        name="inputfirstname"
                        id="inputfirstname"
                        class="form-control"
                         required >

                        <label for="inputfirstname" class="">First Name:</label>
                    </div>

                    <!-- Input User Lastname -->
                    <div class="md-form form-lg">
                        <i class="far fa-user prefix grey-text "></i>
                        <input mdbInputDirective 
                        type="text"
                        
                        formControlName="inputlastname"
                        name="inputlastname"
                        id="inputlastname"
                        class="form-control"
                        required>

                        <label for="inputlastname" class="">Last Name:</label>
                    </div>

                    <!-- Input email -->
                    <div class="md-form form-lg">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input mdbInputDirective 
                        type="text"
                        
                        formControlName="inputEmail"
                        name="inputEmail"
                        id="inputEmail"
                        class="form-control"

                        required>

                        <label for="inputEmail" class="">eMail address:</label>
                    </div>

                    <p class="bg-danger" *ngIf="registrationFormGroup.controls.inputEmail.errors?.required && registrationFormGroup.controls.inputEmail.touched">please retype email.</p>

                    
                    <!-- Check email for frontend validety -->
                    <!-- <div *ngIf="inputEmailset.invalid && (inputEmailset.dirty || inputEmailset.touched)"
                        class="alert alert-danger">
                        <div *ngIf = "inputEmailset.errors?.required">
                            Email field can't be blank
                        </div>
                        <div *ngIf = "inputEmailset.errors?.pattern && inputEmailset.touched">
                            The email id doesn't seem right
                        </div>
                    </div> -->

                    <!-- Input User Password -->
                    <div [formGroup]="passwordFormGroup" >
                        <div class="md-form form-lg">
                            <i class="fa fa-key prefix grey-text"></i>
                            <input mdbInputDirective 
                            type="password"
                            
                            formControlName="inputPassword"
                            id="inputPassword" 
                            class="form-control"
                            minlength ="8" 
                            required>
                            <label for="inputPassword" class="">Password:</label>
                        </div>

                        <p class="bg-danger" *ngIf="passwordFormGroup.controls.inputPassword.errors?.required && passwordFormGroup.controls.inputPassword.touched">Password is required.</p>

                        <div class="md-form form-lg">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <input mdbInputDirective 
                            type="password"
                            
                            formControlName="confirmPassword"
                            class="form-control"
                            id="confirmPassword"
                            minlength ="8" 
                            required>

                            <label for="confirmPassword" class="">Confirm Password:</label>
                        </div>
                        
                        <!-- check password for validety frontend -->
                        <p class="bg-danger" *ngIf="passwordFormGroup.controls.confirmPassword.errors?.required && passwordFormGroup.controls.confirmPassword.touched">Repeat password is required</p>
                        <p class="bg-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password does not match</p>

                    </div>
                </div>

                <!-- Terms and conditions Block -->
                   <div class="md-form checkbox form-lg">
                    
                      <input  
                      type="checkbox" 
                      
                      formControlName="checkBox"
                      name="checkBox"
                      id="checkBox"
                      required>
                      Confirm that you've read the Terms and 
                    Conditions
                  </div>
                  
                  <br>
                <div class="text-center mt-8">
                  <br>
                <button type="reset" class="btn btn-outline-default btn-lg" routerLink="" routerLinkActive="active">Cancel</button>
                <button type="submit" class="btn btn-outline-success btn-lg"  [disabled]="!registrationFormGroup.valid">Next</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
        </div>