<!-- Api Bank gallery -->
<div class="container-fluid bg-light">
    <h1 class="text-center">Our Services</h1>
    <hr>
  <div class="row">
    <!-- FaceBook API -->
    <div class="col">
      <div class="container ">
        <img src="assets/img/facebook.png" alt="Avatar" class="image">
        <div class="overlay bg-light">
          <div class="text">Popular free social networking website.</div>
          <button class="btn btn-primary btn-lg btn-redirect">More Info</button>
        </div>
      </div>
    </div>
   
       <!-- Linkedin API -->
      <div class="col">
        <div class="container">
          <img src="assets/img/linkedin.png" alt="Avatar" class="image">
          <div class="overlay bg-light">
            <div class="text">Business- and employment-oriented service.</div>
            <button class="btn btn-primary btn-lg btn-redirect">More Info</button>
          </div>
        </div>
    </div>
   
          <!-- twitter API -->
    <div class="col">
        <div class="container">
          <img src="assets/img/twitter.png" alt="Avatar" class="image">
          <div class="overlay bg-light">
            <div class="text">Online news and social networking service.</div>
            <button class="btn btn-primary btn-lg btn-redirect">More Info</button>
          </div>
        </div>
    </div>

  <!-- Instagram API -->
  <div class="col">
      <div class="container">
        <img src="assets/img/instagram.png" alt="Avatar" class="image">
        <div class="overlay bg-light">
          <div class="text">Photo and video-sharing social networking</div>
          <button class="btn btn-primary btn-lg btn-redirect">More Info</button>
        </div>
      </div>
    </div>
  
    <!-- google+ API -->
    <div class="col">
      <div class="container">
        <img src="assets/img/google-plus.png" alt="Avatar" class="image">
        <div class="overlay bg-light">
          <div class="text">Internet-based social network.</div>
          <button class="btn btn-primary btn-lg btn-redirect">More Info</button>
        </div>
      </div>
    </div>
    
    <!-- youtube API -->
    <div class="col">
      <div class="container">
        <img src="assets/img/youtube.png" alt="Avatar" class="image">
        <div class="overlay bg-light">
          <div class="text">American video-sharing website.</div>
          <button class="btn btn-primary btn-lg btn-redirect">More Info</button>
        </div>
      </div>
    </div>   
    

  <!-- google API API -->
    <div class="col">
        <div class="container">
          <img src="assets/img/google.png" alt="Avatar" class="image">
          <div class="overlay bg-light">
            <div class="text">Web search engine developed by Google.</div>
            <button class="btn btn-primary btn-lg btn-redirect">More Info</button>
          </div>
        </div>
    </div>


  </div>
</div>
<hr>

