/* Making Img Overflow effect */
.container-fluid{
    background-color: rgba(190, 190, 190, 0.123);
    padding: 0px 100px 40px;
    /* padding-bottom: 120px; */
}
.container {
    position: relative;
    width: 100%;
    
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }


  /* Fixing the hr tag */

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

/* img body */
p{
  background-color: #4285F4;
}
/*img title */
h3{
  background-color: #0d47a1;
  width: 253px;
}


@media only screen and (max-width: 600px){
/* show and hide diffrent screen media */
  #gallery-large{
    display: none;
  }
  @media only screen and (max-width: 1024px){

    hr{
      margin-top: 50px;
    }
    
  }

}