
<!-- Internal user-settings component -->
<!-- npm install -g grunt-cli - must be installed -->
<!-- More Country and City selector made with angular Cascading-Drop-Down-->


<!-- 23/05/2018 David 03:21 -->

<div class="container ">
  <div class="card">
      <!--Header-->
      <h3 class="card-header primary-color white-text">let us know more about your business.</h3>
      <!-- Body -->
      <div class="card-body">

    <div class="row justify-content-center">
        <div class= "col-md-8">
          <form #SettingsForm = "ngForm"  (ngSubmit)="userSettings()" >

                  <!-- business Name Block -->
                  <div class="md-form">  
                    <i class="fas fa-briefcase prefix grey-text"></i>
                    <input mdbInputDirective
                     type="text"
                      name="inputbusinessName"
                      id="inputbusinessName"
                      [(ngModel)]="inputbusinessName"
                      class="form-control"
                      required>

                      <label for="inputbusinessName">business Name</label>
                  </div>

                  <!-- business Type Block -->
                  <div class="md-form">
                    
                    <label for="businesstype">business Type</label>

                      <select mdbInputDirective
                              class="form-control"
                              id="businesstype"
                              [(ngModel)]="selectedbusinesstype"
                              name = "businesstype"
                              >
                               
                              <option value="0">
                                --Select Type-- 
                              </option>
                              <option *ngFor="let business of businessType" [value] = "business">{{business}}
                      </select>

                      
                  </div>

                  <!-- Mobile Phone  -->
                    <div class="md-form ">
                        <label for="select">mobile</label>
                        <div class="input-group">
                          <div class="col-md-4">
                              <select mdbInputDirective
                              class="form-control"
                              id="selectPre-Mobile"
                              [(ngModel)]="selectedPre_mobile" 
                              name = "pre_mobile">
                              <option *ngFor = "let pm of pre_mobile"
                                [value] = "pm"> {{pm}} 
                              </option>
                            </select>

                          </div>
                          <label> - </label>
                          <div class="col-md-7">
                            <input type="text"
                            [(ngModel)]="mobile" 
                            name="mobile"
                            autocomplete="off"
                            class="form-control"
                            id="mobile" >
                          </div>
                        </div>                                                      
                      </div>

                      <!-- phone info  -->
                    <div class="md-form ">
                        <label for="select">Phone</label>
                        <div class="input-group">
                          <div class="col-md-4">
                              <select mdbInputDirective
                              class="form-control"
                              id="selectPre-Phone"
                              [(ngModel)]="SelectedPre_phone"
                              name="pre_phone">
                               
                              <option *ngFor = "let pp of pre_phone"
                                [value] = "pp"> {{pp}} 
                              </option>
                            </select>

                          </div>
                          <label> - </label>
                          <div class="col-md-7">
                              <input mdbInputDirective
                              type="text"
                              [(ngModel)]="phone" 
                            name="phone"
                            autocomplete="off"
                            class="form-control"
                            id="phone" >
                          </div>
                        </div>                                                      
                      </div>

                      <!-- country  -->
                    <div class="md-form ">
                        <label for="select">country</label>
                        <div class="input-group">
                          
                              <select mdbInputDirective
                              class="form-control"
                              id="selectCountry"
                              [(ngModel)] ="selectCountry" 
                              (change)= "onSelect($event.target.value)"
                              name = "country">
                               
                              <option value="0">
                                --Select Country-- 
                              </option>
                              <option *ngFor="let country of countries" value={{country.id}}>{{country.name}}
                            </select>
                        </div>                                                      
                      </div>       

                    <!-- city  -->
                    <div class="md-form ">
                        <label for="select">city</label>
                        <div class="input-group">
                          
                              <select mdbInputDirective
                              class="form-control"
                              id="selectCity"
                              [(ngModel)]="selectCity"
                              name="selectCity"
                              >
                               
                              <option *ngIf='selectedCountry.id == 0' value="0">
                                --Select City-- 
                              </option>
                              <option *ngFor="let city of cities" value = {{city.id}}>{{city.name}}
                            </select>
                        </div>                                                      
                      </div>   

                  <!-- business Address -->
                  <div class="md-form">
                      <i class="fas fa-map-marked-alt prefix grey-text"></i>
                    <label for="inputAddress">business Address</label>
                    <input mdbInputDirective
                    type="text"
                    [(ngModel)]="inputAddress"
                      name="inputAddress"
                      id="inputAddress"

                      class="form-control"
                      required>
                  </div>

                  <!-- business budget oninput prevent "-"-->
                  <div class="md-form">
                      <i class="fas fa-dollar-sign prefix grey-text"></i>
                      <label for="budgetTotal">business budget</label>
                      <input mdbInputDirective
                      type="text"
                      [(ngModel)]="budgetTotal"
                        name="budgetTotal"
                        min="0" 
                        oninput="validity.valid||(value='');"   
                        id="budgetTotal"
                        class="form-control"
                        required>
                    </div>

                  
                 <!-- Buttons Block -->
                  <div class="md-form">
                      <button type="reset" class="btn btn-outline-default btn-lg" (click)="back();">Back</button>
                      <button type="submit" class="btn btn-outline-success btn-lg" [disabled]="!SettingsForm.form.valid">Next</button>
                  </div>
                  
          </form>
        </div>
      </div>
</div>
</div><div>
