<!-- Enable glyphicon on page  -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <app-menu-bar></app-menu-bar>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
          <app-navigation-guest></app-navigation-guest>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-navigation-admin></app-navigation-admin>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-navigation-user></app-navigation-user>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <app-api-gallery></app-api-gallery>
    </div>
  </div>
</div>

<!-- Start Login -->

<div class="container-fluid bg-info">
    <div class="row">
      <div class="col-lg-12">
        <app-login></app-login>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-info">
      <div class="row">
        <div class="col-lg-12">
          <app-login-user></app-login-user>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-info">
      <div class="row">
        <div class="col-lg-12">
          <app-wrong-e-p></app-wrong-e-p>
        </div>
      </div>
    </div>
  
    <div class="container-fluid bg-info">
      <div class="row">
        <div class="col-lg-12 ">
          <app-recovery></app-recovery>
        </div>
      </div>
    </div>

<!-- End Login -->
<!-- Registration -->
    <div class="container-fluid bg-info">
        <div class="row">
          <div class="col-lg-12 ">
            <app-sign-up></app-sign-up>
          </div>
        </div>
      </div>

      <div class="container-fluid bg-info">
          <div class="row">
            <div class="col-lg-12 ">
              <app-wrong-data></app-wrong-data>
            </div>
          </div>
        </div>   

        <div class="container-fluid bg-info">
            <div class="row">
              <div class="col-lg-12 ">
                <app-input-error></app-input-error>
              </div>
            </div>
        </div>   

        <div class="container-fluid bg-info">
            <div class="row">
              <div class="col-lg-12 ">
                <app-finish></app-finish>
              </div>
            </div>
        </div>   
        
        <!-- <div class="container-fluid bg-info">
            <div class="row">
              <div class="col-lg-12 ">
                <app-project-filler></app-project-filler>
              </div>
            </div>
        </div>    -->

    <!-- End Registration -->
    
    <footer>
      <app-footer></app-footer>
    </footer>


