<!-- Enable glyphicon on page  -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<!-- Add icon library -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <app-menu-bar></app-menu-bar>
    </div>
  </div>

  <!-- Page -->
  <router-outlet></router-outlet>
  
</div>
    
    <footer>
      <app-footer></app-footer>
    </footer>


