/* change sizing on active lables */
.md-form label.active{
    font-size: 2rem;
    padding-bottom: 2px;
}
/* apply spacing  */
.md-form{
    padding-bottom: 15px;
}

/* text size */
.card{
    font-size: 2rem !important; 
}

/* img size */
#logoF{
    width: 153px;
}

/* Table text */
table td,th {
    font-size: 1rem !important;
}

#exportPDF{
    width: auto;
    height: 745px;
    position: absolute;
    top: -50px;
}

// keep calm img size

#keepCalm{
    width: 60%;
    height: auto;
}