<!-- Setting up the Menu Component -->
<nav class="navbar navbar-expand-md navbar-dark indigo accent-2">
    <a class="navbar-brand" routerLink="" routerLinkActive="active"><img src="assets/img/Logo_Final.png" style="width:120px;">BreakingGap's</a>
  
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a href="https://www.facebook.com/BreakingGap-Marketing-485166755229146/"  target="_blank" class="fab fa-facebook"></a>
      </li>
      <li class="nav-item">
        <a href="http://linkedin.com/company/breakinggaps"  target="_blank"  class="fab fa-linkedin"></a>   
      </li>
      <li class="nav-item">
         <a href="https://twitter.com/BSoultion" target="_blank" class="fab fa-twitter"></a>  
      </li>
      <li class="nav-item">
         <a href="https://plus.google.com/u/2/103468914948027998434" target="_blank" class="fab fa-google"></a>
      </li>
      <li class="nav-item">
          <a href="https://www.youtube.com/channel/UCjTwkWJBphQ_88fEKuRfMKA" target="_blank" class="fab fa-youtube"></a>
      </li>
      <li class="nav-item">
        <a href="https://www.instagram.com/bgmsolution/" target="_blank" class="fab fa-instagram"></a>
      </li>
  </ul>
</div>  
</nav>

