<!-- Setting up the Menu Component -->
<nav class="navbar navbar-expand-md  bg-info navbar-dark">
    <a class="navbar-brand" href="#"><img src="assets/img/Logo_Final.png" style="width:120px; font: normal 36px 'Cookie', cursive;">BreakingGap's</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a href="#" class="fa fa-facebook"></a>
      </li>
      <li class="nav-item">
        <a href="#" class="fa fa-linkedin"></a>   
      </li>
      <li class="nav-item">
         <a href="#" class="fa fa-twitter"></a>  
      </li>
      <li class="nav-item">
         <a href="#" class="fa fa-google"></a>
      </li>
      <li class="nav-item">
          <a href="#" class="fa fa-youtube"></a>
      </li>
      <li class="nav-item">
        <a href="#" class="fa fa-instagram"></a>
      </li>
  </ul>
</div>  
<button class="btn btn-warning btn-lg login-btn"  routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> | <b>Login </b> </button> 
</nav>

