
<ul class="nav nav-pills">
    <li>
        <a class="btn btn-info btn-lg active" mdbWavesEffect routerLink="/signup" routerLinkActive="active" disabled [routerLinkActiveOptions]="{ exact: false }"><span class="glyphicon glyphicon-user"> Registration</span></a>
    </li>
    <li>
        <a class="btn btn-info btn-lg" mdbWavesEffect routerLink="/userSettings" routerLinkActive="active"><span class="glyphicon glyphicon-pencil"></span> User - settings</a>
    </li>
    <li>
        <a class="btn btn-info btn-lg" mdbWavesEffect routerLink="/userSettings" routerLinkActive="active"><span class="glyphicon glyphicon-list-alt"></span> Questions</a>
    </li>
    <li>
        <a class="btn btn-info btn-lg" mdbWavesEffect routerLink="/finish" routerLinkActive="active"><span class="glyphicon glyphicon-ok"> Finish</span></a>
    </li>
  </ul>