<div class="bc-icons-2">
    <ol class="breadcrumb primary-color justify-content-center">
        <li class="breadcrumb-item">
            <a class="btn btn-info btn-lg active" mdbWavesEffect routerLink="/signup" routerLinkActive="active" disabled [routerLinkActiveOptions]="{ exact: true }"><span class="glyphicon glyphicon-user"> Registration</span></a>
            <i class="fa fa-caret-right mx-2" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item">
            <a class="btn btn-info btn-lg" mdbWavesEffect routerLink="/signup/userSettings" routerLinkActive="active"><span class="glyphicon glyphicon-pencil"></span> User - settings</a>
            <i class="fa fa-caret-right mx-2" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item active">
            <a class="btn btn-info btn-lg" mdbWavesEffect routerLink="/signup/questions" routerLinkActive="active"><span class="glyphicon glyphicon-list-alt"></span> Questions</a>
            <i class="fa fa-caret-right mx-2" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item">
                <a class="btn btn-info btn-lg" mdbWavesEffect routerLink="/signup/finish" routerLinkActive="active"><span class="glyphicon glyphicon-check"></span> Finish</a>
        </li>
    </ol>
</div>