.nav .nav-pills{
    font-size: 30px;
}
.glyphicon{
    margin-right: 2px;
}

//breaddcrumbs nav
.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
    content: none; }
.bc-icons-2 .breadcrumb-item.active {
    color: #455a64; }

//btn design
.btn{
    border-radius: 30px;
}