<div class="container-fluid">
  <div class="col-lg-12">
      <app-navigation-guest></app-navigation-guest>
  </div>
</div>


<!-- forms for registraion -->
<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <!--Panel-->
        <div class="card">
            <div class="card-header primary-color white-text">
                <app-bar></app-bar>
            </div>
            <div class="card-body">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!--/.Panel-->
      </div>
    </div>
</div>