<mdb-navbar SideClass="navbar nav-tabs fixed-top navbar-expand-lg navbar-dark indigo accent-3 scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <!-- Lower Navigation bar will provide interchangeable content -->
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  waves-light" mdbWavesEffect routerLink="/user/profile" routerLinkActive="active">Profile</a>
          </li>  
        <li class="nav-item">
          <a class="nav-link  waves-light" mdbWavesEffect routerLink="/user/questions" routerLinkActive="active">Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  waves-light" mdbWavesEffect routerLink="/user/reports" routerLinkActive="active">Reports</a>
        </li> 
      </ul>
      <button class="btn btn-warning btn-lg login-btn"  routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> | <b>LogOut </b> </button>
    </links>
    </mdb-navbar>
    