<!-- Input error - ERR3  -->

<div class="container blue lighten-5 ">
    <!-- Top text without container -->
    <h1 class="text-center">Opps...Something Went Wrong! </h1> 
    <h3 class="text-center">The information you entered is incorrct or the email allready in use. </h3>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <form action="#">
          <!-- Error img container -->
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <img src="assets/img/wrong_info.png"/>
            </div>
          </div>
            <br>
            <!-- Buttons for lower page -->
            <button (click)="fixit()" class="btn btn-outline-warning btn-lg">Fix it</button>
        </form>
      </div>
    </div>
  </div>