
<!-- This component was removed, maybe will be avalible in future version -->



<!-- Fresh Login Form -->
<!-- <div class="container-fluid">
    <div class="col-lg-12">
        <app-navigation-guest></app-navigation-guest>
    </div>
  </div> -->


<!-- Loged User Password -->
<!-- 
<div class="container ">
  <div class="card"> -->
    <!--Header-->
    <!-- <div class="card-header primary-color white-text text-center">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" class="rounded-circle img-responsive">
      <h3 class="card-header primary-color white-text">Welcome back !</h3>
     </div>
    
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-md-6 "> -->
          <!-- Material form login -->
          <!-- <form (submit)="UserLogin($event)"> -->
            <!-- Material input password -->
          <!-- <div class="col-md-12">
              <div class="md-form">
                  <i class="fa fa-lock prefix grey-text"></i>
                  <input mdbInputDirective 
                  type="InputPassword"
                  id="InputPassword" 
                  class="form-control">
                  <label for="InputPassword" class="">Your password</label>
              </div> -->

            <!-- Check if not restart connection token -->
            <!-- <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="checkBox"> Remember me
              </label>
            </div>
          </div>
          <div class="text-center mt-8">
            <br>
            <button type="submit" value="submit" class="btn btn-outline-primary btn-lg">Login</button>
            <button (click)="notYou()" class="btn btn-outline-danger btn-lg">Not you?</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div> -->
