
<div class="container-fluid footer-set indigo accent-2">

  <!-- footer left -->
  <div class="row footer-left">
      <h3>
        <a class="navbar-brand" href="#"><img src="assets/img/Logo_Final.png" style="width:120px;"></a>
        <span>
          BreakingGap's
        </span>
      </h3>

      
    <hr>


    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">About us</a>
      ·
      <a href="#">Registration</a>
      ·
      <a href="#">YVC College</a>
      ·
      <a href="#">#</a>
      ·
      <a href="#">#</a>
    </p>

  </div>

<!-- footer - center -->
  <div class="footer-center">

    <div>
      <i class="fas fa-map-marker-alt indigo accent-1"></i>
      <p><span>21 Revolution Street</span> Paris, France</p>
    </div>

    <div>
      <i class="fa fa-phone indigo accent-1"></i>
      <p>+1 555 123456</p>
    </div>

    <div>
      <i class="fa fa-envelope indigo accent-1"></i>
      <p><a href="mailto:support@company.com">support@company.com</a></p>
    </div>

  </div>

<!-- footer right -->
  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-google"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>

    </div>

  </div>

  <!--  footer lower part -->

    <p class="footer-company-name text-center">Braking Gap's &copy; 2018</p>

</div>

