
<div class="container-fluid footer-set indigo accent-2">

  <!-- footer left -->
  <div class="row footer-left">
      <h3>
        <a class="navbar-brand" href="#"><img src="assets/img/Logo_Final.png" style="width:120px;"></a>
        <span>
          BreakingGap's
        </span>
      </h3>

      
    <hr>


    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="/aboutUs">About us</a>
      ·
      <a href="/signup">Registration</a>
      ·
      <a href="https://www.yvc.ac.il/en/">YVC College</a>
    </p>

  </div>

<!-- footer - center -->
  <div class="footer-center">

    <div>
      <i class="fas fa-map-marker-alt indigo accent-1"></i>
      <p><span>Max Stern Yezreel Valley College</span> Yezreel Valley, Israel</p>
    </div>

    <div>
      <i class="fa fa-phone indigo accent-1"></i>
      <p>04-6423423</p>
    </div>

    <div>
      <i class="fa fa-envelope indigo accent-1"></i>
      <p><a href="mailto:bgmsoultion@gmail.com">BGMsoultion@gmail.com</a></p>
    </div>

  </div>

<!-- footer right -->
  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      BG Marketing solution created originally to provide you with an easy way to use your hard earned money to promote your business.
    </p>

    <div class="footer-icons">

      <a href="https://www.facebook.com/BreakingGap-Marketing-485166755229146/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="http://linkedin.com/company/breakinggaps" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://twitter.com/BSoultion" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://plus.google.com/u/2/103468914948027998434" target="_blank"><i class="fab fa-google"></i></a>
      <a href="https://www.youtube.com/channel/UCjTwkWJBphQ_88fEKuRfMKA" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://www.instagram.com/bgsoultion/" target="_blank"><i class="fab fa-instagram"></i></a>

    </div>

  </div>

  <!--  footer lower part -->

    <p class="footer-company-name text-center">Braking Gap's &copy; 2018</p>

</div>

