<!-- Admin Navigation bar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <app-navigation-admin></app-navigation-admin>
        </div>
    </div>
</div>
  
<!-- admin page body -->
<div  class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="card">

            <!-- Admin Dashboard name -->
            <div class="card-header special-color white-text">
                <div class="row justify-content-center"> 
                <h1 class="h1-responsive "><i class="fas fa-wrench"></i> Admin Dashboard</h1>
                </div>
            </div>

            <!-- admin body  -->
            <div id="main_body" class="container-fluid">
                <app-info></app-info>
            </div>

            <!-- questions list -->
            <div class="card">
                <div class="card-body">
                
                    <!-- Grid row -->
                    <div class="row">
                
                    <!-- Grid column -->
                    <div class="col-md-8">
                
                        <div class="md-form">
                        <i class="fas fa-search prefix"></i>
                        <input type="search" [(ngModel)]="searchText" id="search" class="form-control" mdbInputDirective [mdbValidate]="false">
                        <label for="search">Search questions, id or text</label>
                        </div>
                
                    </div>
                    <!-- Grid column -->

                    <!-- Add question modal callout -->
                    <div class="col-md-4" align="right">
                        <a type="button" mdbBtn color="warning" class="waves-effect btn-lg" mdbWavesEffect (click)="addQuestionModal.show()" data-dismiss="modal">Add Question</a>  
                    </div>
                
                    </div>
                    <!-- Grid row -->
                
                    <!--Table-->
                    <table class="table  table-hover">
                        <!-- table width -->
        

                
                    <!--Table head-->
                    <thead>
                        <tr>
                        <th>Question Number</th>
                        <th>Question body</th>
                        <th>Answers</th>
                        <th ></th>
                        </tr>
                    </thead>
                    <!--Table head-->
                
                    <!--Table body-->
                    <tbody>
                        <tr *ngFor="let data of search()">
                        <th class="numberCol" scope="row">
                            {{data.question_id}}
                        </th>
                        <td class="questionCol">
                            
                                <div class="md-form">
                                    <input mdbInputDirective type="text" name="question_text" #question_text [(ngModel)]="data.question_text" class="form-control"required>
                                </div>
                            

                        </td>
                        <!-- col for answers -->
                        <td >
                            <tr *ngFor="let answer of toArray(data.answers)">

                                <td class="answerCol">   
                                    
                                        <div class="md-form">
                                            <input mdbInputDirective type="text" name="answer_text" #answer_text [(ngModel)]="answer.answer_text" class="form-control" required>
                                        </div>
                                    
                                </td>
                                <!-- fire request answers -->
                                <td>
                                    <button  class="btn btn-lg success-color" [disabled]="!answer_text.value" (click)="saveAnswer(answer_text.value, answer.answer_id, data.question_id)" >Save</button>
                                    <button  class="btn btn-lg info-color" (click)="editWeights(data.question_id, answer.answer_id)" >Edit</button>
                                </td>
                            </tr>
                        </td>
                        <td align="right">
                            <button class="btn btn-lg danger-color" (click)="deleteQuestionShow(data)">Remove Question</button>
                            <!-- fire request questions -->
                            <button  class="btn btn-lg success-color" [disabled]="!question_text.value" (click)="saveQuestion(data.question_id, question_text.value)" >Save Question</button>

                        </td>
                        </tr>
                    </tbody>
                    <!--Table body-->
                        </table>
                    <!--Table-->
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<!-- edit modal -->

<div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white" id="myModalLabel">Edit Modal</h4>
      </div>
      <!-- modal body -->
      
      <div class="modal-body">
          <!-- this question info -->
        <div class="row">
            <div class="col-lg-6">
                    <p class="h5 text-center mb-4"><span class="badge primary-color">Question Number: </span> {{question_id}}</p>
                </div>
            <div class="col-lg-6">
                <p class="h5 text-center mb-4"><span class="badge primary-color">Answers Number: </span> {{answer_id}}</p>
            </div>
        </div>
        <!-- update next question -->
        <div class="row">
            <div class="col-lg-4 offset-lg-1 ">
                <div class="md-form ">
                    <i class="fas fa-arrow-circle-right prefix grey-text"></i>
                    <!-- get next question from answer modal -->
                    <input type="text" #next_question [(ngModel)]="nextQuestion" class="form-control" mdbInputDirective>
                    <label for="next_question">Next Question Will Be</label>
                </div>
            </div>
            <button type="button" id="nQuest" mdbBtn color="success" class="relative waves-light btn-md" (click)="updateNextQuestion(next_question,question_id,answer_id)"mdbWavesEffect><i class="fas fa-save fa-2x"></i></button>


            <!-- <div class="col-lg-4">
                <div class="md-form">
                    <i class="fas fa-align-justify prefix grey-text"></i> -->
                    <!-- get test from answer modal -->
                    <!-- <input type="text" disabled #nextquestion_text [(ngModel)]="answer_text" class="form-control" mdbInputDirective>
                </div>
            </div> -->
        </div>
        <!-- table with platform info -->
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <table class="table" >
                        <thead>
                            <tr>  
                                <!-- get platform names from answer modal -->   
                                <th class="unique-color text-white" align="center" *ngFor="let data of platforms" scope="col">
                                    {{data.platform_name}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                   
                                <td align="right" *ngFor="let data of platforms" >
                                    <form #platformsForm="ngForm"> 
                                        <div class="md-form">
                                            <input type="number" min="0" max="1" step="0.01" #platform_weight name="platform_weight" [(ngModel)]="data.platform_weight"  class="form-control" required pattern="^((0(\.[0-9]*)?)|(1(\.0)?))$" mdbInputDirective>
                                            <td align="right">
                                            <button type="button" mdbBtn color="info"  class="relative waves-light btn-lg" [disabled]="!(platformsForm.touched && platformsForm.valid)" (click)="updateAnswerData(platform_weight,data.platform_id,question_id,answer_id,data.platform_name)"mdbWavesEffect><i class="fas fa-save fa-2x"></i></button>
                                            </td>  
                                        </div>
                                    </form>
                                </td>   
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>  
      <!-- edit form -->
      </div>
      <div class="modal-footer">
          <!-- modal control buttons -->
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="editModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>


<!-- error modal! -->
<div mdbModal #errorModal="mdbModal" class="modal fade right" id="errorModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" >
  <div class="modal-dialog modal-notify modal-danger modal-side modal-top-right" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading">Sorry Something Wen't Wrong</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="errorModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">

        <div class="row">
          <div class="col-3">
            <p></p>
            <p class="text-center color-danger">
              <i class="fas fa-exclamation-triangle fa-4x" style="color:#ffbb33;"></i>
            </p>
          </div>

          <div class="col-9">
            <!-- error msg here -->
            <h2>
              <span class="badge">{{msgError}}</span>
            </h2>
          </div>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-effect btn-lg" mdbWavesEffect (click)="errorModal.hide()" data-dismiss="modal">Close</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<!-- Delete question modal! -->
<div mdbModal #deleteQuestionModal="mdbModal" class="modal fade right" id="deleteQuestionModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" >
  <div class="modal-dialog modal-lg modal-notify modal-danger modal-top" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading text-white">Delete question</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteQuestionModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">

        <div class="row">
          <div class="col-3">
            <p></p>
            <p class="text-center color-danger">
              <i class="fas fa-trash-alt fa-4x" style="color:#ffbb33;"></i>
            </p>
          </div>

          <div class="col-9">
            <!-- question msg here -->
            
            <h2>Question number: <span class="badge">{{question_id}}</span></h2>
            <h2>With body: <span class="badge">{{question_text}}</span></h2>
            * please keep in mind folowing question trace will be lost!
          </div>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-effect btn-lg" mdbWavesEffect (click)="deleteQuestionModal.hide()" data-dismiss="modal">Close</a>
        <a type="button" mdbBtn color="danger" class="waves-effect btn-lg" mdbWavesEffect (click)="deleteQuestion(question_id, question_text)" data-dismiss="modal">DElete</a>  
    </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!-- add question modal -->

<div mdbModal #addQuestionModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="addQuestionModalClose()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white" id="myModalLabel">Add new Question</h4>
      </div>
      <div class="modal-body">
        <!-- question body -->
        <!-- form -->
        <div class="container-fluid">
            <form (ngSubmit)="saveNewQuestion()" [formGroup]="newQuestionForm">
            <!-- question body text -->

                    <div class="col-lg-12">
                        <div class="md-form">
                            <i class="fas fa-question prefix grey-text"></i>
                            <input type="text"class="form-control " mdbInputDirective formControlName="question_text">
                            <label data-error="wrong" data-success="right" for="question_text">Question text</label>
                        </div>
                    </div>

                <!-- answers  -->
               
                    <!-- answers number 1 body text -->
                    <div class="col-lg-6 offset-lg-1">
                        <div class="md-form">
                            <i class="fas fa-circle prefix grey-text"></i>
                            <input type="text"class="form-control " mdbInputDirective formControlName="answer1Body">
                            <label data-error="wrong" data-success="right" for="answer1Body">Answer #1: </label>
                        </div>
                    
          
                    <!-- answers number 2 body text -->
                    
                        <div class="md-form">
                            <i class="fas fa-circle prefix grey-text"></i>
                            <input type="text"class="form-control " mdbInputDirective formControlName="answer2Body">
                            <label data-error="wrong" data-success="right" for="answer2Body">Answer #2: </label>
                        </div>
                    
                
                    <!-- answer number 3 body text -->
                    
                        <div class="md-form">
                            <i class="fas fa-circle prefix grey-text"></i>
                            <input type="text"class="form-control " mdbInputDirective formControlName="answer3Body">
                            <label data-error="wrong" data-success="right" for="answer3Body">Answer #3: </label>
                        </div>
                    
                
                    <!-- answer number 4 body text -->
                    
                        <div class="md-form">
                            <i class="fas fa-circle prefix grey-text"></i>
                            <input type="text"class="form-control " mdbInputDirective formControlName="answer4Body">
                            <label data-error="wrong" data-success="right" for="answer4Body">Answer #4: </label>
                        </div>
                    </div>
                    <p class="bg-danger" *ngIf="newQuestionForm.touched && !newQuestionForm.valid">Question body and answers canot be empty</p>
                <!-- warning area -->
                <div class="row justify-content-center">
                    <h2 style="color:#ff4444;">Please note! <br></h2>
                    <p>  you will have to update question order and weights using <span class="badge info-color">edit</span> button</p>
                </div>
                <div class="row justify-content-center">
                    <!-- button area -->
                    <button type="button" mdbBtn color="danger" class="waves-light btn-lg" aria-label="Close" (click)="addQuestionModalClose()" mdbWavesEffect>Close</button>
                    <button type="submit" mdbBtn color="success" class="relative waves-light btn-lg" [disabled] = "!newQuestionForm.valid" mdbWavesEffect>Save Question</button>
                </div>
            </form> 
        
        </div>
      </div>


          

    </div>
  </div>
</div>