<!-- Admin Navigation bar -->
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <app-navigation-admin></app-navigation-admin>
      </div>
    </div>
  </div>
  
  <!-- admin page body -->
  <div  class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <!-- Admin Dashboard name -->
                  <div class="card-header special-color white-text">
                      <div class="row justify-content-center"> 
                        <h1 class="h1-responsive "><i class="fas fa-wrench"></i> Admin Dashboard</h1>
                      </div>
                  </div>
                  <!-- admin body  -->
                <div id="main_body" class="container-fluid">
                    <app-info></app-info>
                </div>
                <!-- questions list -->
                <div class="card">
                <div class="card-body">
                
                    <!-- Grid row -->
                    <div class="row">
                
                    <!-- Grid column -->
                    <div class="col-md-12">
                
                        <div class="md-form">
                        <i class="fas fa-search prefix"></i>
                        <input type="search" [(ngModel)]="searchText" id="search" class="form-control" mdbInputDirective [mdbValidate]="false">
                        <label for="search">Search data</label>
                        </div>
                
                    </div>
                    <!-- Grid column -->
                
                    </div>
                    <!-- Grid row -->
                
                    <!--Table-->
                    <table class="table table-striped">
                        <!-- table width -->
      

                
                    <!--Table head-->
                    <thead>
                        <tr>
                        <th>Question Number</th>
                        <th>Question body</th>
                        <th>Answers</th>
                        <th ></th>
                        </tr>
                    </thead>
                    <!--Table head-->
                
                    <!--Table body-->
                    <tbody>
                        <tr *ngFor="let data of search()">
                        <th class="numberCol" scope="row">
                            {{data.questionNumber}}
                        </th>
                        <td class="questionCol">
                            <form #questionBodyForm=ngForm (ngSubmit)="saveQuestion(questionBody, data.questionNumber)">
                                <div class="md-form">
                                    <input mdbInputDirective type="text" name="questionBody" #questionBody [(ngModel)]="data.questionBody" class="form-control">
                                </div>
                            </form>

                        </td>
                        <!-- col for answers -->
                        <td >
                            <tr *ngFor="let answer of toArray(data.answers)">

                                <td class="answerCol">   
                                    <form #answerBodyForm=ngForm (ngSubmit)="saveAnswer(answerBody, answer.answerNumber, data.questionNumber)">
                                        <div class="md-form">
                                            <input mdbInputDirective type="text" name="answerBody" #answerBody [(ngModel)]="answer.answerBody" class="form-control">
                                        </div>
                                    </form>
                                </td>
                                <!-- fire request answers -->
                                <td>
                                    <button  class="btn btn-lg success-color" (click)="answerBodyForm.ngSubmit.emit()" >Save Answers</button>
                                </td>
                            </tr>
                        </td>
                        <td align="right">
                            <button class="btn btn-lg danger-color" (click)="removeQuestion(data)">Remove Question</button>
                            <!-- fire request questions -->
                            <button  class="btn btn-lg success-color" (click)="questionBodyForm.ngSubmit.emit()" >Save Question</button>

                        </td>
                        </tr>
                    </tbody>
                    <!--Table body-->
                     </table>
                    <!--Table-->
                </div>
             </div>
            </div>
        </div>
      </div>
  </div>