<!-- User Navigation bar -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <app-navigation-user></app-navigation-user>
    </div>
  </div>
</div>
<div class="container-fluid">
<!-- user budget settings preview -->
<div class="row">
  <div class="col-lg-12">
      <app-preview></app-preview>
      <hr>
    </div>
</div>
<!-- Video -->
<div class="row">
    <div class="col-lg-12">
        <app-video></app-video>
        <hr>
    </div>
</div>
<!-- service -->
<div class="row">
        <div class="col-lg-12">
            <app-our-service></app-our-service>
            <hr>
        </div>
    </div>
</div>
