<!-- Lower Navigation bar will provide interchangeable content -->
<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Admins</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Questions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Weights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">System Info</a>
    </li>
  </ul>

