/* Change style of nav-tabs acording to draft */
.nav-tabs{
    background-color:#06929c;
  }
  .tab-content{
      background-color:#303136;
      color:rgb(255, 255, 255);
      padding:5px
  }
  .nav-tabs > li > a{
    border: medium none;
    color: white;
  }
  .nav-tabs > li > a.active{
    color: black;
    background-color:#07bac7;  
  }
  
  .nav-tabs > li > a:hover{
    background-color: #07bac7 !important;
      border: medium none;
      border-radius: 0px;
      color:black;
  }
  