<!-- Registration - Finish  -->

<div class="container blue lighten-5 ">
    <!-- Top text without container -->
    <h1 class="text-center">Registration is complete </h1> 
    <h3 class="text-center">Your user had been created succsesfuly! </h3>
    <div class="row justify-content-center">
      <div class="col-lg-8">
          <!-- Error img container -->
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <img src="assets/img/like-2634379_1920.png"/>
            </div>
          </div>
            <br>
            <!-- Redirect msg = replace (3) with interpulation on {{}} -->
            <h4 class="text-center text-secondary">Page will redirect you automatically in (3) </h4>
      </div>
    </div>
  </div>