<div class="container ">
    <div class="card">
        <!--Header-->
        <h3 class="card-header primary-color white-text">Registration is complete</h3>
        <h2 class="card-header primary-color-dark white-text">Your user had been created succsesfuly! </h2>
        <!-- Body -->
      <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-md-8 offset-md-1">
                <img src="assets/img/like-2634379_1920.png"/>
            </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-8">
                  <h4 class="text-center text-secondary">Page will redirect you automatically in 15s </h4>
              </div>
            </div>
      </div>
    </div>